.img-autres-projets > li {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding: 4px;
}

.img-autres-projets {
    margin-left: -25px;
}


.lire-article-suivant {
    position: absolute
}

.article-suivant {
    margin-top: 3em;
}

.colonne-footer {
    display: table-cell;
    vertical-align: top;
}

