img {
    max-width: 100%;
    height: auto;
}

.index > img:first-of-type {
    width: 100%;
}

.carousel {
    background-color: #6189BF;
    padding: 20px 0;
}

.carousel > ul {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    list-style: none;
    padding: 20px 0;
    flex: 1 0 220px;
    margin-right: 20px;
    scroll-snap-align: center;
}


::-webkit-scrollbar {
    height: 2px;
}

::-webkit-scrollbar-track {
    background-color: #273582;
}

::-webkit-scrollbar-thumb {
    background-color: #FC7B35;
}

.autres-projets > ul {
    list-style: none;
}

.grille-autres-projets img {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 103px;
    height: 103px;
}

header img {
    width: 60px;
    position: absolute;
    top: 4px;
    left: 20px;
}

.article-suivant {
    background-color: #6189BF;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
    padding: 20px;
    font-weight: 800;
    line-height: 2.4rem;
}

.lire-article-suivant {
    font-family: 'DM Mono', monospace;
    color: #FC7B35;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.bouton-remonter img {
    width: 50px;
    display: block;
    margin: auto;
    opacity: 33%;
}

.quote {
    border: 2px #6189BF solid;
    font-weight: 500;
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-style: italic;
    color: #FC7B35;
    border-radius: 4px;
}

footer ul {
    list-style: none;
}

footer i {
    font-size: 3rem;
    margin-bottom: 3vw;
    margin-right: 5vw;
    text-align: center;
    text-shadow: 0 -2px 2px black;
}

.bouton-remonter {
    padding: 1px;
}

.bouton-remonter p {
    margin: auto;
    padding-left: 44vw;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'DM Mono', monospace;
    opacity: 33%;
}

.bouton-lire-article {
    background-color: #4B5AAF;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    text-align: center;
    width: 40vw;
    margin: auto;
    padding: 0.3em;
    border-radius: 5px;
}